/* Hack Styling */

.Hack {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 25px;
  margin-bottom: 16px;
  color: #2b3035;
}

.Hack figure,
h5 {
  margin: 0 0;
}

/* Hack Image Styling */

.HackImage {
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
}