/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Link Styling */

.NavLink {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
}

.Active {
    border-bottom: 1px white solid;
}

.NavLink:hover {
    color: grey;
}

/* Title Styling */

.Title {
    color: white;
    text-decoration: none !important;
    font-weight: bold;
}

/* Media Queries */

@media (width <= 991px) {
    .NavLink {
        padding: 5px 0;
    }
}