/* General Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b3035;
}

/* Input Field Styling */

input[type="file"] {
  display: none;
}

/* Input Field Styling for upload */

.image-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* Button Optimization */

.btn-primary {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
  color: #121212 !important;
  font-weight: 500;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #26d1e6 !important;
  border-color: #26d1e6 !important;
  color: #121212 !important;
}
